*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #d8e0c0;
  padding: 60px;

  .container {
    max-width: 500px;
    margin: auto;
    background: #ffffff;
    padding: 40px;
    border-radius: 8px;

    h1,
    h2,
    h3 {
      font-size: 40px;
      margin: 0 0 10px 0;
    }

    h1,
    h2,
    h3,
    p {
      text-align: center;
    }

    button {
      background: #4CAF50;
      color: #000000;
      text-transform: uppercase;
      font-size: 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      padding: 12px;

      &:hover {
        background-color: #145c16;
        color: #ffffff;
      }

      &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
    }

    input {
      background: #ece8e8;
      border: none;
    }

    input,
    textarea {
      padding: 8px;
    }

    input,
    textarea,
    button {
      width: 100%;
      margin: 10px 0;
      font-size: 1em;
    }
  }

  .links-container {
    display: flex;
    justify-content: space-between;

    .back-link {
      display: block;
      margin-top: 15px;
      font-size: 14px;
      color: #555555;
      text-decoration: none;
      transition: 0.2s ease;

      .arrow {
        position: relative;
        top: -3px;
      }

      &:hover {
        color: #4CAF50;
        transform: translateX(-3px);
      }

      &.forward:hover{
        transform: translateX(3px);
      }
    }
  }
}

.hidden {
  display: none;
}

.message {
  text-align: center;
  font-size: 0.9em;
}

/* .card {
  margin-top: 20px;
} */

/* .post {
  background: #eaeaea;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
} */